@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

.fontDesign {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 3rem;
  color: #0000ff;
}
.font-design {
  font-family: "Lora", serif;
  color: #ff1493;
  font-style: italic;
  font-size: 3rem;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.border-rad {
  border-radius: 100px !important;
}
.fonty {
  font-family: "Lora", serif;
}
